body{
    background-color: rgb(218, 252, 250);
    font: 1em Verdana, sans-serif;
}

h1 {
    color: rgb(233, 107, 48);
    font: bold 2em Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    border: 3px solid rgb(255, 214, 99);
    display: inline-block;
    padding: 5px;
    background-color: lightgoldenrodyellow;
}

img {
    display: block;
    margin: auto;
}

h2 {
    color: rgb(233 117 78);
    font: bold 1.5em Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    background-color: white;
    border: 3px solid rgb(255, 214, 99);
    padding: 5px;
    display: inline-block;
}

h3 {
    color: rgb(233 117 78);
    font: bold 1.2em Helvetica, sans-serif;
    text-align: center;
    margin: 5px;
    background-color: white;
    border: 3px solid rgb(255, 214, 99);
    padding: 5px;
    display: inline-block;
}

.description {
    font: 1em Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 10px;
    display: block;
}

.ingredients {
    font: 1em Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 10px;
    display: block;
    box-sizing: border-box;
    padding-left: 30px;
}

.steps {
    font: 1em Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 10px;
    display: block;
    padding-left: 30px;
}

/* Set h1 in the center */
/* Set h3 below h2, not like Ingredients-Falafel */