body{
    background-color: rgb(218, 252, 250);
}

h1 {
    color: lightskyblue;
    text-align: center;
    margin: 10px;
    /* margin-top: 10px; customize each margin */
    border: 10px solid rgb(255, 214, 99);
    padding: 10px;
    background-color: lightgoldenrodyellow;
    /* height: 100px;
    width: 500px; */
    /* box-sizing: border-box; force sizing limit to border*/
}