h1 {
    /* rgb example */
    color: rgb(100, 0, 127);
}

h2 {
    /* hsl example */
    color: hsl(15, 82%, 56%);
}

a {
    /* hex example */
    color: #1100ff;
}

h1 {
    font-family: "Courier New", serif;
    font-size: 30px;
    text-align: center;
}

h2 {
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

a {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

img {
    height: auto;
    width: 200px;
    display: block;
    margin: auto;
}