body {
    background-color: rgb(218, 252, 250);
}

h1 {
    /* rgb example */
    color: rgb(233, 107, 48);
}

li {
    /* hsl example */
    color: hsl(15, 78%, 61%);
}

a {
    /* hex example */
    color: #574cf1;
}

h1 {
    font-family: Helvetica, serif;
    font-size: 30px;
    text-align: center;
}

li {
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

a {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

img {
    height: auto;
    width: 200px;
    display: block;
    margin: auto;
}

li {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}